h1,h2,h3 {
    text-align: center;
}

p, li, .footdef {
    margin-top: 0.8rem;
    line-height: 1.35;
    margin-bottom: 0.8rem;
}

body{
    font: 20px 'Georgia', Serif;
    color: black;
    background-color: #dadada;
    text-align: left;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    text-rendering: optimizeLegibility;
}

footer {
    font: 20px 'Georgia', Serif;
    color: black;
    font-weight: 100;
    background-color: #dadada;
    text-align: left;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    text-rendering: optimizeLegibility;
    clear: both;
    position: relative;
    height: 200px;
}

#links {
    text-align: center;
}

.profile-photo {
    float: right;
    width: 400px;
    height: 320px;
    margin: 0 0 0 10px;
}

.profile-photo-2 {
    float: left;
    width: 300px;
    height: 400px;
    margin: 0 0 0 10px;
}

footer nav {
    justify-content: center;
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    max-width: 40em;
    margin 0 auto;
}

.fig-left, .fig-right {
    display: inline-block;
}

.large {
    font-size: 2em;
}

details, summary {
    display: inline;
    vertical-align: super;
    font-size: 0.75 rem;
    padding: 0 0.25 rem;
}
summary {
    cursor: pointer;
}
.details-content {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 90%;
    padding: 1rem;
    font-size: 1rem;
    background: lightyellow;
    box-shadow: 0 0 100px black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.fake-p {
    margin: 0 0 1rem 0;
}
